input[type="text"],
input[type="number"],
input[type="date"] {
  width: 75%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  outline: none;
}

label {
  padding: 12px 12px 6px 0;
  display: flex;
  flex-direction: column;
}

.form-group {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
}

.btn-group {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 10px 20px;
}
