.card-container {
  width: 300px;
  height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #dee2e6;
  border-radius: 16px;
  padding: 16px;
  margin-left: 16px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.card-container-active {
  background-color: #fff531;
}

.card-item p {
  font-size: 14px;
}

.card-item h3 {
  font-size: 18px;
  font-weight: bold;
}

.card-item h4 {
  font-size: 16px;
  font-weight: bold;
}

.card-item p h3 h4 {
  padding: 0;
  margin: 0;
}
